.heading
{
    width: 100%;
    font-size: 25px;
    margin: 0px;
    box-shadow: 2.5px 2.5px 2.5px yellow;
}

.note
{
    font-size: 19px;
    color: black;
}

footer
{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: grey;
    font-size: 18px;
    line-height: 2;
    color: black;
}

canvas
{
    border: 2px solid;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: 2.5px 2.5px 2.5px orange;
    background: linear-gradient(#4168f2 0%, #ae41f2 100%);
    background: #bc4e9c;
  background: -webkit-linear-gradient(to right, #bc4e9c, #f80759);
  background: linear-gradient(to right, #bc4e9c, #f80759);
}